:root {
  --blue: #1c95e6;
  --white: #ecf5ff;
  --black: #060418;
  --dark_blue: #0a264d;
  --inter-light: 'inter-light';
  --inter-regular: 'inter-regular';
}

@font-face {
  font-family: 'inter-regular';
  src: url('../public/fonts/Inter_28pt-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'inter-light';
  src: url('../public/fonts/Inter_24pt-Light.ttf') format('opentype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black);
  margin: 0rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
ul,
li,
button,
a {
  margin: 0;
  padding: 0;
  color: var(--white);
}
